<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>botId</key>
	<string>Zx7rGidc</string>
	<key>initTopicId</key>
	<string>K3bhuUjd</string>
	<key>apiKey</key>
	<string>yB3afacVaQ9ckjJOHHiIx6b0dXorHxJq518onUdZ</string>
</dict>
</plist>
